@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TenorSans';
    src: url('../fonts/TenorSans-Regular.ttf')  format('truetype');
}

.tenorSans {
    font-family: 'TenorSans';
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sp {
    z-index: 1;
}
.nav {
    z-index: 2;
}